<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azadljy.logcatutil">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.example.azadljy.logcatutil.LogActivity"
            android:icon="@mipmap/ic_con"
            android:label="log"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
